*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

input{
  outline: none;
}

html, body, #app{
  height: 100vh;
}

body {
  color: var(--font-color);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  /* line-height: 1.6; */
  font-family: monospace;
  font-size: 12px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
